#hobby-container img{
    /* height: 600px; */
    /* display: inline-block; */
    margin: 0 auto;
    /* width: 100%; */
}

.carousel-container{
    position: relative;
    width: 100%;
    /* height:380px; */
}
.carousel-container:after{
    clear: both;
    content: "";
    display: block;
}
.carousel-imgs img{
    display: none;
}
.carousel-imgs .selected{
    display: block;
    width: 85%;
    /* height: 100%; */
}
.carousel-nav{
    position: absolute;
    right: 45px;
    bottom:20px;
}
.carousel-nav li, .carousel-arrows div{
    width: 20px;
    height: 20px;
    background: #000000;
    color: #fff;
    text-align: center;
    line-height: 20px;
    float: left;
    margin-right: 25px;
    cursor: pointer;
}
.carousel-nav .selected{
    background: orange;
}


.carousel-arrows .carousel-left.bottom{
    position: absolute;
    left: 10px;
    bottom: 10px;
}
.carousel-arrows .carousel-right.bottom{
    position: absolute;
    left: 35px;
    bottom: 10px;
}
.carousel-arrows .carousel-left.center{
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 30px;
}
.carousel-arrows .carousel-right.center{
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 30px;
}