*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
a:hover,a:focus{
    outline: none;
    text-decoration: none;
}
li{
    list-style: none;
}

header{
    height: 680px;
    /*background-color: rgba(0, 0, 0, 0.8);*/
    text-align: center;
    background: url(../img/home.jpg);filter:alpha(opacity=70);
    background-attachment: fixed;
}

#header-sec{
    width: 100%;
    height: 100%;
    padding: 100px;
    background-color: rgba(0, 0, 0, 0.80);
}
header img{
    width: 200px;
    height: 200px;
    border-radius: 50% 50%;
    border:5px solid rgb(255, 15, 101);
}
header h3{
    font-weight:800;
    color: white;
    cursor: pointer;
}
h2{
    color: #FFFFFF;
}
h1{
    font-weight: 900;
    color: rgb(255, 15, 101);
}
header span,.email span{
    display: block;
    width: 220px;
    height: 45px;
    line-height: 45px;
    background-color: black;
    color: #FFFFFF;
    font-size: 18px;
    margin:0 auto;
    border:1px solid rgb(255, 15, 101);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    cursor: pointer;
}

.pink-circle{
    margin:0 auto;
     width: 60px;
     height: 60px;
     /* background-color:rgb(255, 15, 101); */
     /* background-image: url(../img/head-spirte.png); */
     border-radius: 50% 50%;
     /* border:2px solid white; */
     background-size: contain;
    cursor: pointer;
 }
.transparent-circle{
    margin:0 auto;
    width: 60px;
    height: 60px;
    /* background-color:transparent; */
    /* background-image: url(../img/head-spirte.png); */
    border-radius: 50% 50%;
    background-size: contain;
    /* border:2px solid white; */
    cursor: pointer;
}

/*know me*/
#know-me{
    /* height: 500px; */
    padding: 40px 0 60px 0;
}
#know-me::after{
    display: block;
    clear: both;
    content:"";
}
.knowme-container{
    margin:0 auto;
    /* height: 360px; */
}
.knowme-container img{
     width: 100%;
   /* margin-right: 20px;
     */
}
.detail{
    font-weight:500;
    line-height: 25px;
    text-indent: 2rem;
}
/* skill */
#skill{
    height: 450px;
    background-image:url(../img/skill.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: #FFFFFF; 
}
#skill-container{
    height: 100%;
    text-align: center;
    padding:4%;
    background: url(../img/15.png),repeat;
}
/* .canvas{

    height: 200px;
    text-align: center;
    color:rgb(255, 15, 101);
    padding-top: 20px;
}
canvas{
    margin-top: 50px;
}


#skill-container div{
    height: 289px;
    margin:0;
    display: inline-block;
}
.myskill p{
    color: white;
    margin:80px 0;
}
.span{
    width: 200px;
    color: white;
    display: block;
    height: 45px;
    cursor: pointer;
    line-height: 45px;
    text-align: center;
    font-size: larger;
    background-color: grey;
} */
h4{
    color: rgb(255, 15, 101);
}

/* project */
.grid:hover {
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    margin-top: -5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  } 
/*hobby*/
   #hobby-container{
       margin-top: 30px;
   }     

/*connect*/
#connect-me{
    background-color: rgba(0, 0, 0, 0.80);
}
#connect-me img{
    height: 400px;
    width: 100%;
    z-index: -1;
    position: absolute;
    display: block;
}
#connect-container{
    z-index: 3;
    width: 100%;
    margin-top: 0;
    height: 500px;
    text-align: center;
    /*background: rgba(0, 0, 0, 0.80);*/
}
#connect-container h1{
    padding:50px 0;
    /* margin-top: 20px; */
}
.email input,.email textarea{
    border:1px solid white;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.80);
    width: 80%;
    height: 40px;
    margin: 7px 0;
    color: white;
    background-color: transparent;
}
.email textarea{
    height: 100px;
}
.email span{
    margin-left: 10%;
}
.address{
    text-align: left;
    padding-left: 10%;
}
.address h2{
    color: rgb(255, 15, 101);
    margin-bottom: 50px;
}
.address h4{
    display: inline-block;
}
.address span{
    color: #FFFFFF;
}

#top img{
     width: 150px;
    height: 150px;
  /*  line-height: 50px;
    text-align: center;
    color: rgb(255, 15, 101); */
    position: fixed;
    bottom:10px;
    right: 10px;
    cursor: pointer;
  /*   border-radius: 50% 50%;
    background-color: transparent;
    border:2px solid rgb(255, 15, 101); */
}

@media (max-width:768px) {
    .header-center,.header-right{
        display: none;
    }
    .knowme-container img{
        float: left;
    }
   /*  .know-me{
        height:600px;
    } */
    .detail{
        clear: left;
    }

    #skill canvas{
        float: left;
    }
    .project{
        text-align: center;
    }
    .sub-pro{
        width: 80%;
        display: block;
        float: left;     
        margin-left:10%; 
    }
    #project-container{
        width: 100%;
    }

    #connect-me{
        height: 700px;
    }

}


